html, body { height: 100%; width: 100%; margin: 0; }

.main-container {
    width:80%;
    margin: 0 auto;
    height: 100%;
    font-size:2vw;
}

.chat-container {
    border:1px solid green;
    height:70%;
    overflow:auto;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    background-color: #e5ffe7;
}

.message-form-container {
    height:10%;
}

.vertical-spacing {
    height:5%;
}

.message-input-field, .message-send-button, .character-select {
    border:1px solid green;
    background-color:#e5ffe7;
    color: green;
    font-size:2vw;
    padding:0.5vw;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
}

.message-input-field {
    width:50%;
    float:left;
}

.message-send-button {
    width:20%;
    float:right;
    margin-left:1%;
}

.character-select {
    width:20%;
    float:right;
}

.message-container {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.message-text{
    background-color: green;
    color: white;
    padding:1%;
    display: inline-block;

    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
}